%p
  %strong Image:
  = image_tag @blog.image_url if @blog.image?

%p
  %strong Title:
  = @blog.title

%p
  %strong Caption:
  = @blog.caption

%p
  %strong Description:
  = @blog.description

=button_to "Back", blogs_path, method: "get"